<div class="row">
    <div class="booyah-box col-xs-10 col-xs-offset-1">
        <div class="row">
            <h1><%= @ride.waypoints.first.waypoint_name%> -> <%= @ride.waypoints.last.waypoint_name%></h1>
        </div>
        <br />
        <div class="row">
            <h3>Waypoints</h3>
            <%= @ride.build_legs.each do |w| %>
                <p><%= w.waypoint_start.waypoint_name %> -> <%= w.waypoint_finish.waypoint_name %></p>
            <% end %>
        </div>
    </div>
</div>